site_name: Spatiotemporal LULC Analysis
site_description: QGIS plugin for multi-year land use/land cover change analysis
site_author: Mukesh Ray
site_url: https://raymukesh.github.io/spatiotemporal_lulc_analysis/

repo_name: raymukesh/spatiotemporal_lulc_analysis
repo_url: https://github.com/raymukesh/spatiotemporal_lulc_analysis

copyright: Copyright &copy; 2026 Mukesh Ray

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
    - toc.follow

plugins:
  - search
  - tags

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/raymukesh/spatiotemporal_lulc_analysis

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quickstart.md
  - User Guide:
    - Overview: user-guide/overview.md
    - Adding Inputs: user-guide/inputs.md
    - Validation: user-guide/validation.md
    - Configuration: user-guide/configuration.md
    - Running Analysis: user-guide/running-analysis.md
  - Outputs:
    - Output Overview: outputs/overview.md
    - CSV Outputs: outputs/csv.md
    - Raster Outputs: outputs/rasters.md
    - Chart Outputs: outputs/charts.md
  - Reference:
    - Methodology: reference/methodology.md
    - Formulas: reference/formulas.md
  - FAQ: faq.md
